In [1]:
import pandas as pd

In [4]:
psg_players = pd.Series(['Navas','Mbape','Neymar','Messi'],
          index=[1,7,10,30]
          )

In [6]:
psg_players

1      Navas
7      Mbape
10    Neymar
30     Messi
dtype: object

In [16]:
psg_players2 = pd.Series(['Navas','Mbape','Neymar','Messi'])

In [11]:
dict_psg_players = {1:'Navas',
7:'Mbape',
10:'Neymar',
30:'Messi'}

In [12]:
pd.Series(dict_psg_players)

1      Navas
7      Mbape
10    Neymar
30     Messi
dtype: object

In [15]:
psg_players[7]

'Mbape'

In [17]:
psg_players2[0:2]

0    Navas
1    Mbape
dtype: object

In [18]:
dict_players2 = {
    "player": ['Navas','Mbape','Neymar','Messi'],
    'height': [1.83, 1.88, 1.93, 1.98],
    'goals' : [2, 2,6,23]
}
dict_players2

{'player': ['Navas', 'Mbape', 'Neymar', 'Messi'],
 'height': [1.83, 1.88, 1.93, 1.98],
 'goals': [2, 2, 6, 23]}

In [20]:
df_players = pd.DataFrame(dict_players2, 
index= [1,7,10,30])
df_players

    player  height  goals
1    Navas    1.83      2
7    Mbape    1.88      2
10  Neymar    1.93      6
30   Messi    1.98     23

In [21]:
df_players.columns

Index(['player', 'height', 'goals'], dtype='object')

In [22]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')